<p>
  <b>Title:</b>
  <%=h @content.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @content.body %>
</p>

<p>
  <b>Author:</b>
  <%=h @content.author.login %>
</p>


<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>