<h1>Editing menu item</h1>

<% form_for(@menu) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= render :partial => "hyerarchy", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @menu %> |
<%= link_to 'Back', menus_path %>