<h1>New menu item</h1>

<% form_for(@menu) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <% if Menu.all.size > 0  %>
  <p>
    <%= f.label :parent_id %><br />
	<%= f.select :parent_id, menu_options %>
  </p>
  <% end %>
  
  <% if Content.all.size > 0  %>
  <p>
    <%= f.label :parent_id %><br />
	<%= f.select :parent_id, menu_options %>
  </p>
  <% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', menus_path %>