<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @product.description %>
</p>

<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @product.quantity %>
</p>

<h2>Fake Images</h2>

<% if @product.images.present? %>
  <ul id="images-list">
    <% @product.images.each do |image| %>
      <li><%= image_tag(image.image.url(:thumb)) %></li>
    <% end %>
  </ul>
<% else %>
  <p>
    No images
  </p>
<% end %>

<% form_for(:image, :url => product_create_image_path(@product),
  :html => {:multipart => true}) do |f| %>
  <%= f.file_field :image %>      

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</p>

<h2>Fake AJAX Comments</h2>

<div id="comment_list">
  <%= render :partial => 'comment', :collection => @product.comments %>
</div>

<% if @product.comments.blank? %>
  <p id="no_comments">
    No comments
  </p>
<% end %>


<% remote_form_for :comment, @product.comments.build,
  :url => product_create_comment_path(@product), 
                    :html => {:id=>"comment_form"},
                    :loading => "$('spinner').show()",
                    :complete => "$('spinner').hide()" do |f| %>

  <div id="comment_confirm"></div>

  <div>
	  <label for="comment_body">Comment</label><br />
    <%= f.text_area "body", :cols => 80, :rows => 5 %>
  </div>

  <div style="margin-top: 10px">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
